USE [master]
GO
/****** Object:  Database [8th_sibu]    Script Date: 7/19/2026 2:25:25 PM ******/
CREATE DATABASE [8th_sibu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'8th_sibu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\8th_sibu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'8th_sibu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\8th_sibu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [8th_sibu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [8th_sibu]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Member_id] [int] NOT NULL,
	[Attendance_date] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Items] [nvarchar](20) NOT NULL,
	[Numbers] [int] NULL,
	[Images] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](20) NOT NULL,
	[Telephone] [nvarchar](20) NULL,
	[Ranking_id] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Squad_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_id] [int] NULL,
	[Item_id] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistory]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NULL,
	[Status] [varchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[ExpiresAt] [bigint] NOT NULL,
	[Used] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rankings]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rankings](
	[Id] [int] NOT NULL,
	[Ranks] [nvarchar](20) NOT NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/19/2026 2:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Passwords] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([Id], [Member_id], [Attendance_date], [Status]) VALUES (1051, 2, CAST(N'2026-07-19' AS Date), N'Present')
INSERT [dbo].[Attendance] ([Id], [Member_id], [Attendance_date], [Status]) VALUES (1052, 10, CAST(N'2026-07-19' AS Date), N'Present')
INSERT [dbo].[Attendance] ([Id], [Member_id], [Attendance_date], [Status]) VALUES (1053, 11, CAST(N'2026-07-19' AS Date), N'Absent')
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([Id], [Items], [Numbers], [Images]) VALUES (1, N'Name_tag', 5, N'/uploads/name_tag.png')
INSERT [dbo].[Inventories] ([Id], [Items], [Numbers], [Images]) VALUES (2, N'Uniform', 3, NULL)
INSERT [dbo].[Inventories] ([Id], [Items], [Numbers], [Images]) VALUES (3, N'Trousers', 5, N'/uploads/trouser.png')
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [First_name], [Last_name], [Telephone], [Ranking_id], [Email], [Squad_id]) VALUES (2, N'BC', N'A', N'0112341231', 2, N'abc@gmail.com', 1)
INSERT [dbo].[Members] ([Id], [First_name], [Last_name], [Telephone], [Ranking_id], [Email], [Squad_id]) VALUES (9, N'EF', N'D', N'0123451234', 8, N'def@gmail.com', NULL)
INSERT [dbo].[Members] ([Id], [First_name], [Last_name], [Telephone], [Ranking_id], [Email], [Squad_id]) VALUES (10, N'HI', N'G', N'0102030405', 1, N'ghi@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetail_id], [Order_id], [Item_id], [Quantity]) VALUES (12, 9, 2, 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHistory] ON 

INSERT [dbo].[OrderHistory] ([Order_id], [User_id], [Status], [CreatedAt]) VALUES (9, 9, N'Pending', CAST(N'2026-07-19T14:01:28.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderHistory] OFF
GO
INSERT [dbo].[Rankings] ([Id], [Ranks], [Role]) VALUES (1, N'Pte', N'Boys')
INSERT [dbo].[Rankings] ([Id], [Ranks], [Role]) VALUES (2, N'Lcpl', N'Boys')
INSERT [dbo].[Rankings] ([Id], [Ranks], [Role]) VALUES (3, N'Cpl', N'Boys')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [First_name], [Last_name], [Email], [Passwords]) VALUES (9, N'BC', N'A', N'abc@gmail.com', N'abcd1234')
INSERT [dbo].[Users] ([Id], [First_name], [Last_name], [Email], [Passwords]) VALUES (10, N'EF', N'D', N'def@gmail.com', N'defg1234')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT ((0)) FOR [Used]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Members] FOREIGN KEY([Member_id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Members]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Rankings] FOREIGN KEY([Ranking_id])
REFERENCES [dbo].[Rankings] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Rankings]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([Order_id])
REFERENCES [dbo].[OrderHistory] ([Order_id])
GO
USE [master]
GO
